flask==2.0.1
flask-wtf==0.15.1
wtforms==2.3.3
flask-restful==0.3.9
coverage~=5.5
app~=0.0.1

requests~=2.26.0
workalendar~=16.0.0
pip~=20.2.3
pytz~=2021.1
MarkupSafe~=2.0.1
Werkzeug~=2.0.1
Jinja2~=3.0.1
MyApplication~=0.1.0
click~=8.0.1
itsdangerous~=2.0.1
python-dateutil~=2.8.2
aniso8601~=9.0.1
setuptools~=49.2.1
six~=1.16.0